@charset "UTF-8" ;

body {
    background-color: #E1BCE6;
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    color: aliceblue;
    background-color: #5F4F61;
    text-align: center;
    border-radius: 10px;
}
h1 {
    color: #5B3261;

}

h2 {
    color: #A45BAE;
}

.basic {
    color: #74ae5b;

}

.media {
    color: #5b83ae;
}

.high {
    color: #ae5b5b;
}